@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pago Exitoso</title>
    @Styles.Render("~/Content/css") 
</head>
<body>
    <div class="container">
        <div class="card">
            <h5 class="card-header">Pago exitoso</h5>
            <div class="card-body">
                <h5 class="card-title">La transacción se realizó correctamente</h5>
                <p class="card-text">Muchas gracias por preferir nuestros productos</p>
                <a href="https://localhost:44310" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver</a>
            </div>
        </div>
        

    </div>
</body>
</html>
