@{
}
<div class="container">
    <h1>Promociones</h1><h4>OFERTAZO DE AGOSTO!</h4>
    <br />
    <div class="row row-cols-1 row-cols-md-3">
        <div class="card">

            <div class="card-body">
                <h5>Producto</h5>
                <div class="row">
                    <div class="col">
                        <p>Guanabana</p>
                    </div>
                    <div class="col">
                        <p>COD: F0510</p>
                    </div>
                </div>
            </div>
            <img src="~/Img/F0510.jpg" width="20" height="170" class="card-img-top mr-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">Descripción</h5>
                <p class="card-text">Pulpa de guabana </p>
                <strong>Promoción:</strong>&nbsp;7Kg <br />
                <strong>Por:</strong>&nbsp;$10.000 <br />

                <div class="text-right">
                    <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
                        <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_pequeno.png" onClick="this.form.urlOrigen.value = window.location.href;" />
                        <input name="buttonId" type="hidden" value="NQYm5ioLL+XXZy8410GAcNlDSoLv8avnFm5e0Q4skyHFfLMlMZJRSA==" />
                        <input name="merchantId" type="hidden" value="657443" />
                        <input name="accountId" type="hidden" value="659978" />
                        <input name="description" type="hidden" value=" SuperPromo FruverOne Agosto Ganabana 7K" />
                        <input name="referenceCode" type="hidden" value="F0510" />
                        <input name="amount" type="hidden" value="10000.00" />
                        <input name="tax" type="hidden" value="0.00" />
                        <input name="taxReturnBase" type="hidden" value="0.00" />
                        <input name="currency" type="hidden" value="COP" />
                        <input name="lng" type="hidden" value="es" />
                        <input name="approvedResponseUrl" type="hidden" value="https://localhost:44310/PagoExitoso" />
                        <input name="declinedResponseUrl" type="hidden" value="https://localhost:44310/PagoExitoso" />
                        <input name="pendingResponseUrl" type="hidden" value="https://localhost:44310/PagoExitoso" />
                        <input name="displayBuyerComments" type="hidden" value="true" />
                        <input name="buyerCommentsLabel" type="hidden" value="es:¿Quieres adicionar un Comentario?" />
                        <input name="sourceUrl" id="urlOrigen" value="" type="hidden" />
                        <input name="buttonType" value="SIMPLE" type="hidden" />
                        <input name="signature" value="65a1a4410fd366644d042c2a6bd0d6085614445d513cd134cacb6614d1e81569" type="hidden" />
                    </form>
                </div>
            </div>

        </div>


        <!--
    Aguacate Hass
     -->
        &nbsp;

        <div class="card">

            <div class="card-body">
                <h5>Producto</h5>
                <div class="row">
                    <div class="col">
                        <p>Agucate Hass </p>
                    </div>
                    <div class="col">
                        <p>COD: F0701</p>
                    </div>
                </div>
            </div>
            <img src="~/Img/F0701.jpg" width="20" height="170" class="card-img-top mr-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">Descripción</h5>
                <p class="card-text">Aguacate de excelente calidad </p>
                <strong>Promoción:</strong>&nbsp; 10 aguacates <br />
                <strong>Por:</strong>&nbsp;$10.000<br />

                <div class="text-right">
                    <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
                        <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_pequeno.png" onClick="this.form.urlOrigen.value = window.location.href;" />
                        <input name="buttonId" type="hidden" value="irlklfvodefO3FAeBpWjVhZHXOHezNvBGdJNiWHkUgxKwhAf54N1ug==" />
                        <input name="merchantId" type="hidden" value="657443" />
                        <input name="accountId" type="hidden" value="659978" />
                        <input name="description" type="hidden" value="Aguacate Hass PROMO AGOSTO 10x 1000MIL" />
                        <input name="referenceCode" type="hidden" value="F0701" />
                        <input name="amount" type="hidden" value="13000.00" />
                        <input name="tax" type="hidden" value="0.00" />
                        <input name="taxReturnBase" type="hidden" value="0.00" />
                        <input name="shipmentValue" value="3000.00" type="hidden" />
                        <input name="currency" type="hidden" value="COP" />
                        <input name="lng" type="hidden" value="es" />
                        <input name="approvedResponseUrl" type="hidden" value="https://localhost:44310/PagoExitoso" />
                        <input name="declinedResponseUrl" type="hidden" value="https://localhost:44310/PagoExitoso" />
                        <input name="pendingResponseUrl" type="hidden" value="https://localhost:44310/PagoExitoso" />
                        <input name="displayBuyerComments" type="hidden" value="true" />
                        <input name="buyerCommentsLabel" type="hidden" value="es:¿Quieres adicionar un comentario?" />
                        <input name="sourceUrl" id="urlOrigen" value="" type="hidden" />
                        <input name="buttonType" value="SIMPLE" type="hidden" />
                        <input name="signature" value="69231fd61de753960404324c57fd1d7751975e46d17243f24c1681b6a568950e" type="hidden" />
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
